# Bağımlılıklar
node_modules/
client/node_modules/
server/node_modules/

# Build çıktıları
dist/
client/dist/

# Loglar
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ortam değişkenleri
.env
server/.env
client/.env

# Local History & IDE specific
.history/
.vscode/
.DS_Store